extends layout

block content

  form(method='post', action='/books/search/1')
    p
      input(type='submit', value='Search')
      input(name='search', type='text', placeholder='search for books...')
  p
    h1 Books
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in subBooks
        tr
          td
            a(href=`/books/${book.id}`)=book.title
            td=book.author
            td=book.genre
            td=book.year
        tr
  -let n =1
  -let y =1
  ul  
    while n <= Math.ceil(books.length / pageSize)
      //- a.button(href=`/books/search/${y++}?term=''`)=n++
      a.button(href=`/books/search/${y++}?term=`)=n++
  p
   a.button(href='/books/') Home